/** RESPONSIVE PER FOTO PRIMI PIATTI E SECONDI ECC. ***************/


@media screen and (min-width: 480px) {
	#gallery li {
		width: 28.2%;
	}


}

@media screen and (min-width: 720px) {
	
	footer img {
		max-width: 5%;
	}

@media screen and (min-width: 500px) {
	
	footer img {
		max-width: 5%;
	}
}
